/* @import url("https://fonts.googleapis.com/css?family=Bungee+Hairline|Comfortaa:700|Libre+Baskerville:700"); */

html {
	-webkit-animation: color-change-3x 10s infinite alternate both;
  animation: color-change-3x 10s infinite alternate both;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  position: absolute;
}
body {
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  position: absolute;
}
#root {
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  position: absolute;
  width: 100vw;
  height: 100vh;
}
.super {
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  justify-items: stretch;
  align-items: center;
  justify-content: center;
}
.circle {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  border-radius: 50%;
  background: #4554de;
  width: 30vh;
  height: 30vh;
  -webkit-animation: pulsate 0.5s ease-in-out 4 both;
  animation: pulsate 0.5s ease-in-out 4 both;
}

.circle-overlay {
  z-index: 1;
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  width: 30vh;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay-text {
  color: #ffffff;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
}
/**
 * ----------------------------------------
 * animation color-change-3x
 * ----------------------------------------
 */
@-webkit-keyframes color-change-3x {
  0% {
    background: #76c2ba;
  }
  50% {
    background: #edd1d4;
  }
  100% {
    background: #a6fff6;
  }
}
@keyframes color-change-3x {
  0% {
    background: #76c2ba;
  }
  50% {
    background: #edd1d4;
  }
  100% {
    background: #a6fff6;
  }
}

/**
 * ----------------------------------------
 * animation pulsate
 * ----------------------------------------
 */
@-webkit-keyframes pulsate {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(2);
            transform: scale(2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes pulsate {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(2);
            transform: scale(2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}




/* 
f27783
4554de

76c2ba
edd1d4
a6fff6
*/